{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
    <div class="bg-gray-100 py-6 flex flex-col justify-center sm:py-12 md:py-16 lg:py-20">
        <div class="relative py-3 sm:max-w-xl sm:mx-auto md:max-w-2xl lg:max-w-3xl">
            <div class="absolute inset-0 bg-gradient-to-r from-cyan-400 to-light-blue-500 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl"></div>
            <div class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20 md:p-24 lg:p-28">
                {% if user.is_authenticated %}
                    <div class="max-w-md mx-auto md:max-w-lg lg:max-w-xl">
                        <div class="flex items-center justify-center">
                            <img class="h-12 sm:h-16 md:h-20 lg:h-24"
                                 src="https://tailwindui.com/img/logos/workflow-mark-cyan-600.svg">
                        </div>
                        <div class="divide-y divide-gray-200">
                            <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7 md:text-xl md:leading-8 lg:text-2xl lg:leading-9">
                                <p class="text-center font-bold text-xl sm:text-2xl md:text-3xl lg:text-4xl">
                                    Hello, {{ user.username }}</p>
                                <p><strong>Email:</strong> {{ user.email }}</p>
                                <p><strong>Last Login:</strong> {{ user.last_login }}</p>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="max-w-md mx-auto md:max-w-lg lg:max-w-xl">
                        <div class="flex items-center justify-center">
                            <img class="h-12 sm:h-16 md:h-20 lg:h-24"
                                 src="https://tailwindui.com/img/logos/workflow-mark-cyan-600.svg">
                        </div>
                        <div class="divide-y divide-gray-200">
                            <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7 md:text-xl md:leading-8 lg:text-2xl lg:leading-9">
                                <p class="text-center font-bold text-xl sm:text-2xl md:text-3xl lg:text-4xl">User not
                                    found</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}