{% extends "base.html" %}

{% block content %}
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-4xl font-bold mb-4 text-indigo-600">Teachers</h1>
        <div class="overflow-x-auto bg-white rounded-lg shadow overflow-y-auto relative">
            <table class="border-collapse table-auto w-full whitespace-no-wrap bg-white table-striped relative">
                <thead>
                <tr class="text-left">
                    <th class="py-2 px-3 sticky top-0 border-b border-gray-200 bg-gray-100 text-gray-600">Name</th>
                    <th class="py-2 px-3 sticky top-0 border-b border-gray-200 bg-gray-100 text-gray-600">Lastname1</th>
                    <th class="py-2 px-3 sticky top-0 border-b border-gray-200 bg-gray-100 text-gray-600">Lastname2</th>
                    <th class="py-2 px-3 sticky top-0 border-b border-gray-200 bg-gray-100 text-gray-600">Email</th>
                    <th class="py-2 px-3 sticky top-0 border-b border-gray-200 bg-gray-100 text-gray-600">Course</th>
                    <th class="py-2 px-3 sticky top-0 border-b border-gray-200 bg-gray-100 text-gray-600">Tutor</th>
                    <th class="py-2 px-3 sticky top-0 border-b border-gray-200 bg-gray-100 text-gray-600">Modules</th>
                </tr>
                </thead>
                <tbody>
                {% for teacher in teachers %}
                    <tr class="transition-colors duration-300 hover:bg-gray-200">
                        <td class="border-dashed border-t border-gray-200 px-3 py-2">{{ teacher.name }}</td>
                        <td class="border-dashed border-t border-gray-200 px-3 py-2">{{ teacher.lastname1 }}</td>
                        <td class="border-dashed border-t border-gray-200 px-3 py-2">{{ teacher.lastname2 }}</td>
                        <td class="border-dashed border-t border-gray-200 px-3 py-2">{{ teacher.email }}</td>
                        <td class="border-dashed border-t border-gray-200 px-3 py-2">
                            {% for course in teacher.courses.all %}
                                <span class="bg-gray-200 text-gray-600 rounded-full px-3 py-1 text-sm">{{ course.name }}</span>
                            {% empty %}
                                <span class="bg-gray-200 text-gray-600 rounded-full px-3 py-1 text-sm">Este profesor no tiene asignado ningún curso</span>
                            {% endfor %}
                        </td>
                        <td class="border-dashed border-t border-gray-200 px-3 py-2">
                            <div class="relative flex items-start">
                                <div class="flex items-center h-5">
                                    <input type="checkbox" disabled {{ teacher.tutor|yesno:"checked," }}
                                           class="accent-pink-300 md:accent-pink-500 h-5 w-5">
                                </div>
                            </div>
                        <td class="border-dashed border-t border-gray-200 px-3 py-2">
                            {% for module in teacher.modules.all %}
                                <span class="bg-gray-200 text-gray-600 rounded-full px-3 py-1 text-sm">{{ module.name }}</span>
                            {% empty %}
                                <span class="bg-gray-200 text-gray-600 rounded-full px-3 py-1 text-sm">Este profesor no tiene asignado ningún módulo</span>

                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}