<footer class="bg-gray-800 text-white py-12 mt-8">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex flex-wrap justify-between">
            <div class="w-full sm:w-1/2 md:w-1/4 h-auto">
                <h6 class="font-semibold text-lg mb-2 text-indigo-400">About Centre</h6>
                <ul class="list-unstyled text-sm">
                    <li class="py-2">Centre is a web application that allows you to manage your centre's data.</li>
                    <li class="py-2">It is built using the Django web framework.</li>
                </ul>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/4 h-auto mt-8 sm:mt-0">
                <h6 class="font-semibold text-lg mb-2 text-indigo-400">Teachers</h6>
                <ul class="list-unstyled text-sm">
                    <li class="py-2">Manage teacher profiles</li>
                    <li class="py-2">Track teacher performance</li>
                </ul>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/4 h-auto mt-8 md:mt-0">
                <h6 class="font-semibold text-lg mb-2 text-indigo-400">Students</h6>
                <ul class="list-unstyled text-sm">
                    <li class="py-2">Manage student profiles</li>
                    <li class="py-2">Track student performance</li>
                </ul>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/4 h-auto mt-8 md:mt-0">
                <h6 class="font-semibold text-lg mb-2 text-indigo-400">Contact</h6>
                <ul class="list-unstyled text-sm">
                    <li class="py-2">Email: info@centre.com</li>
                    <li class="py-2">Phone: +1 234 567 890</li>
                </ul>
            </div>
        </div>
        <div class="mt-8 text-sm">
            &copy; 2023 by TIC Gestio Personal. All rights reserved.
        </div>
    </div>
</footer>