<footer class="bg-gray-800 text-white py-16 mt-12">
    <div class="container mx-auto px-8 sm:px-12 lg:px-16">
        <div class="flex flex-wrap justify-between space-y-8 sm:space-y-0">
            <div class="w-full sm:w-1/2 md:w-1/4 h-auto">
                <h6 class="font-semibold text-lg mb-4 text-indigo-400"><a href="{% url 'about' %}">Acerca de Centre</a></h6>
                <ul class="list-unstyled text-sm space-y-2">
                    <li>Centre es una aplicación web que te permite gestionar los datos de tu centro.</li>
                    <li>Está construida utilizando el framework web Django.</li>
                </ul>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/4 h-auto mt-12 sm:mt-0">
                <h6 class="font-semibold text-lg mb-4 text-indigo-400"><a href="{% url 'teachers' %}">Profesores</a></h6>
                <ul class="list-unstyled text-sm space-y-2">
                    <li>Gestiona perfiles de profesores</li>
                    <li>Realiza seguimiento del rendimiento de los profesores</li>
                </ul>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/4 h-auto mt-12 md:mt-0">
                <h6 class="font-semibold text-lg mb-4 text-indigo-400"><a href="{% url 'students' %}">Estudiantes</a></h6>
                <ul class="list-unstyled text-sm space-y-2">
                    <li>Gestiona perfiles de estudiantes</li>
                    <li>Realiza seguimiento del rendimiento de los estudiantes</li>
                </ul>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/4 h-auto mt-12 md:mt-0">
                <h6 class="font-semibold text-lg mb-4 text-indigo-400">Contacto</h6>
                <ul class="list-unstyled text-sm space-y-2">
                    <li>Email: info@centre.com</li>
                    <li>Teléfono: 935 128 822</li>
                </ul>
            </div>
        </div>
        <div class="mt-12 text-sm">
            Aviso legal | Sobre la página | ©2024 Generalitat de Catalunya | Departamento de Educación
        </div>
    </div>
</footer>