<footer class="bg-gray-800 text-white py-16 mt-12">
    <div class="container mx-auto px-8 sm:px-12 lg:px-16">
        <div class="flex flex-wrap justify-between space-y-8 sm:space-y-0">
            <div class="w-full sm:w-1/2 md:w-1/4 h-auto">
                <h6 class="font-semibold text-lg mb-4 text-indigo-400">About Centre</h6>
                <ul class="list-unstyled text-sm space-y-2">
                    <li>Centre is a web application that allows you to manage your centre's data.</li>
                    <li>It is built using the Django web framework.</li>
                </ul>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/4 h-auto mt-12 sm:mt-0">
                <h6 class="font-semibold text-lg mb-4 text-indigo-400">Teachers</h6>
                <ul class="list-unstyled text-sm space-y-2">
                    <li>Manage teacher profiles</li>
                    <li>Track teacher performance</li>
                </ul>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/4 h-auto mt-12 md:mt-0">
                <h6 class="font-semibold text-lg mb-4 text-indigo-400">Students</h6>
                <ul class="list-unstyled text-sm space-y-2">
                    <li>Manage student profiles</li>
                    <li>Track student performance</li>
                </ul>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/4 h-auto mt-12 md:mt-0">
                <h6 class="font-semibold text-lg mb-4 text-indigo-400">Contact</h6>
                <ul class="list-unstyled text-sm space-y-2">
                    <li>Email: info@centre.com</li>
                    <li>Phone: +1 234 567 890</li>
                </ul>
            </div>
        </div>
        <div class="mt-12 text-sm">
            Aviso legal | Sobre la pagina | ©2024 Generalitat de Catalunya | Departamento de Educación
        </div>
    </div>
</footer>