/*
@keyframes hoverAnimation {
    0% {
        background-color: transparent;
        color: #4a5568; !* Cambié el color del texto *!
    }
    100% {
        background-color: #caeaff; !* Nuevo color de fondo *!
        color: #ffffff; !* Nuevo color de texto *!
    }
}

#navbar > div > div > div.flex a:hover {
    transition: all 0.4s ease-in-out;
    transform: scale(1.1);
    animation: hoverAnimation 0.4s forwards;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
*/
