{% extends "base.html" %}
{% load static %}
{% block title %} Edit Teacher {% endblock %}
{% block content %}
    <div class="max-w-lg mx-auto bg-white p-8 rounded-lg shadow-md mt-5">
        <h1 class="text-2xl font-bold mb-6 text-center">Edit Student</h1>
        <form method="post" class="space-y-6">
            {% csrf_token %}
            <!--Name-->
            <div class="space-y-2">
                <label for="{{ form.first_name.id_for_label }}"
                       class="block text-sm font-medium text-gray-700">{{ form.first_name.label }}</label>
                <input id="{{ form.first_name.id_for_label }}" name="{{ form.first_name.html_name }}"
                       value="{{ form.name.value|default_if_none:'' }}"
                       class="mt-1 block w-full py-2 px-3 border {{ form.first_name.errors|yesno:'border-red-500,border-gray-300' }} bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                {% if form.first_name.errors %}
                    <div class="text-red-500 text-base mt-2 bg-red-100 p-3 rounded-lg">{{ form.first_name.errors|join:", " }}</div>
                {% endif %}
            </div>
            <!--Last Name 1-->
            <div class="space-y-2">
                <label for="{{ form.first_lastname.id_for_label }}"
                       class="block text-sm font-medium text-gray-700">{{ form.first_lastname.label }}</label>
                <input id="{{ form.first_lastname.id_for_label }}" name="{{ form.first_lastname.html_name }}"
                       value="{{ form.first_lastname.value|default_if_none:'' }}"
                       class="mt-1 block w-full py-2 px-3 border {{ form.first_lastname.errors|yesno:'border-red-500,border-gray-300' }} bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                {% if form.first_lastname.errors %}
                    <div class="text-red-500 text-base mt-2 bg-red-100 p-3 rounded-lg">{{ form.first_lastname.errors|join:", " }}</div>
                {% endif %}
            </div>
            <!--Last Name 2-->
            <div class="space-y-2">
                <label for="{{ form.second_lastname.id_for_label }}"
                       class="block text-sm font-medium text-gray-700">{{ form.second_lastname.label }}</label>
                <input id="{{ form.second_lastname.id_for_label }}" name="{{ form.second_lastname.html_name }}"
                       value="{{ form.second_lastname.value|default_if_none:'' }}"
                       class="mt-1 block w-full py-2 px-3 border {{ form.second_lastname.errors|yesno:'border-red-500,border-gray-300' }} bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                {% if form.second_lastname.errors %}
                    <div class="text-red-500 text-base mt-2 bg-red-100 p-3 rounded-lg">{{ form.second_lastname.errors|join:", " }}</div>
                {% endif %}
            </div>
            <!--Email-->
            <div class="space-y-2">
                <label for="{{ form.email.id_for_label }}"
                       class="block text-sm font-medium text-gray-700">{{ form.email.label }}</label>
                <input id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}"
                       value="{{ form.email.value|default_if_none:'' }}"
                       class="mt-1 block w-full py-2 px-3 border {{ form.email.errors|yesno:'border-red-500,border-gray-300' }} bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                {% if form.email.errors %}
                    <div class="text-red-500 text-base mt-2 bg-red-100 p-3 rounded-lg">{{ form.email.errors|join:", " }}</div>
                {% endif %}
            </div>
            <!--Courses-->
            <div class="space-y-2">
                <label for="{{ form.courses.id_for_label }}"
                       class="block text-sm font-medium text-gray-700">{{ form.courses.label }}</label>
                <select id="{{ form.courses.id_for_label }}" name="{{ form.courses.html_name }}"
                        class="mt-1 block w-full py-2 px-3 border {{ form.courses.errors|yesno:'border-red-500,border-gray-300' }} bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    {% for option in form.courses.field.choices %}
                        <option value="{{ option.0 }}"
                                {% if option.0 in form.courses.value %}selected{% endif %}>{{ option.1 }}</option>
                    {% endfor %}
                </select>
                {% if form.courses.errors %}
                    <div class="text-red-500 text-base mt-2 bg-red-100 p-3 rounded-lg">{{ form.courses.errors|join:", " }}</div>
                {% endif %}
            </div>
            <!--Modules-->
            <div class="space-y-2">
                <label for="{{ form.modules.id_for_label }}"
                       class="block text-sm font-medium text-gray-700">{{ form.modules.label }}</label>
                <select id="{{ form.modules.id_for_label }}" name="{{ form.modules.html_name }}"
                        class="mt-1 block w-full py-2 px-3 border {{ form.modules.errors|yesno:'border-red-500,border-gray-300' }} bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    {% for option in form.modules.field.choices %}
                        <option value="{{ option.0 }}"
                                {% if option.0 in form.modules.value %}selected{% endif %}>{{ option.1 }}</option>
                    {% endfor %}
                </select>
                {% if form.modules.errors %}
                    <div class="text-red-500 text-base mt-2 bg-red-100 p-3 rounded-lg">{{ form.modules.errors|join:", " }}</div>
                {% endif %}
            </div>
            <button type="submit"
                    class="w-full py-2 px-4 bg-indigo-600 text-white rounded hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Update
            </button>
        </form>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{% static 'js/edit_modules.js' %}"></script>
{% endblock %}