{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!--Tailwind CSS-->
    <script src="https://cdn.tailwindcss.com"></script>
    <!--CSS -->
    {% block stylesheets %}{% endblock %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <!-- JS -->
    {% block javascripts %}{% endblock %}
    <!--Favicon-->
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
</head>
<body class="bg-gray-200">
<header class="bg-blue-500 text-white py-4 px-8">
    <nav class="container mx-auto flex justify-between items-center">
        <a href="{% url 'index' %}" class="mr-4 hover:underline nav-link">Home</a>
        <a href="{% url 'about' %}" class="mr-4 hover:underline nav-link">About</a>
        <a href="{% url 'students' %}" class="hover:underline nav-link">Students</a>
        <a href="{% url 'students' %}" class="hover:underline nav-link">Teachers</a>
        <a href="{% url 'admin:index' %}" class="hover:underline nav-link">Admin</a>

    </nav>
</header>

<main class="container mx-auto p-8">
    {% block content %}
    {% endblock %}
</main>

<footer class="bg-blue-500 text-white py-4 px-8 mt-4">
    <div class="container mx-auto text-center">
        &copy; 2023 by TIC Gestio Personal. All rights reserved.
    </div>
</footer>
</body>
</html>